LIBVIRT_EXPORTER_URI={{ libvirt_exporter_uri }}
LIBVIRT_EXPORTER_PORT={{ libvirt_exporter_web_listen_address.split(":")[1] }}
LIBVIRT_EXPORTER_HOST={{ libvirt_exporter_web_listen_address.split(":")[0] }}
